/* GLOBAL ==================== */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: 0;
}

body {
    font-family:'Poppins', sans-serif;
    background: var(--new-color-background);
    color: #fff;    
    /* o problema era que o background estava com (5.11%, rgb(13, 12, 21) 94.89%); */
}

#title /* O QUE POSSO FAZER POR VOCE? */{
    padding: 0 0 1rem;
    text-align: center;
    font-weight: 700;
    font-size: 1.6rem; 
    background: var(--h1-text-background);
}


section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2rem;
}

.container {
    width: min(90vw, 1000px); /* qual e menor entre os dois e vai deixar um deles. */;
    margin: auto;
}

.projects {
    background: var(--new-card-background);
    padding: 1rem 2rem;
    border-radius: 0.8rem;
    margin-bottom: 1rem;
    text-align: center;
    font-size: 16px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: min(90vw, 200px); 
}

/* button ==================== */
.projects p {
    margin-bottom: 1rem;
    width: 100%;
    text-decoration: none;
}

.projects .green {
    text-decoration: none;
    color: #2BB140;
    font-weight: 700;
}

.projects a {
    text-decoration: none;
    color: #FF2D71;
    font-weight: 700;
}

.projects .card-button {
    color: #fff;
    padding: 8px;
    border-radius: 5px;
    font-size: 16px;
    text-decoration: none;
    background: rgb(255, 6, 87);
    color: rgb(255, 255, 255) !important;
    text-decoration: none !important;    
    transition: all 0.2s ease-in 0s;
    animation-duration: 4s;
}

.card .card-button:hover {
    box-shadow: rgba(0, 0, 0, 0.8) 0px 4px 11px;
    background: #FF2D71;
    cursor: pointer;
}

/* FOOTER ==================== */
footer {
    font-family: Manrope,sans-serif !important;
    color: #fff;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 100px;
    font-size: 10px;
}

/* DESKTOP */
@media (max-width: 800px) {

    /* HEADER ==================== */   
    #title {
        padding: 4rem 0 1rem;
        font-size: 2rem; 
    }

    section {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .container {
        width: min(90vw, 288px); /* qual e menor entre os dois e vai deixar um deles. */;
        margin: auto;
    }

    .projects {
        width: min(90vw, 288px);
    }

    footer {
        margin-top: 0;
        text-align: center;
    }
    
 } 


/* AQUI VAI SER PARA QUANDO ESTIVER NO TABLET */



/* RESPOSIVIDADE */

