.services {
    word-wrap: break-word; 
    /* para o texto não sair da DIV */
    background-color: no-repeat;
}

main {
    font-weight: 700;
    font-family: Montserrat; 
    width: 100%;
    max-width: 900px;
}

h1 {
    margin-bottom: 1rem;
    text-align: center;
    font-size: 1.6rem;
}

h2 {
    margin-bottom: 0.5rem;
    text-align: center;
    font-size: 1.3rem;
}

.container-about {
    margin-top: 1rem;
    height: 100%;   
    border: none;
    padding: 0 2.4rem;
    color: white !important;
}


.flex > div {
    border-radius: 8px;
    word-wrap: break-word; /* para o texto não sair da DIV */
    background: #24204e93  !important; 
    border: 0px;
    padding: 0.5rem;
    text-align: center;
    margin-bottom: 1rem;
    
}
.flex > div > p {
    color: rgba(255, 255, 255, 0.5);
}

button {
    display: flex;
}

.span-flex {
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.span-flex a {
    margin-left: 1rem;
}

.span-flex p {
    background: #000000 !important;
    border-radius: .8rem;
    font-size: 1rem;
    font-weight: 700;
    width: 40%;
    height: 3.0rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.buttons-flex {
    width: 40%;
    height: 3.0rem;
    background: rgb(226, 7, 80);
    border-radius: .8rem;
    margin-left: 0;
    font-size: 1rem;
    font-weight: 700;
    font-family: Montserrat;
    border: 0px;
    color: rgb(255, 255, 255) !important;
    text-decoration: none !important;  
    display: flex;
    align-items: center;
    justify-content: center;  
    transition: all 0.2s ease-in 0s;
    animation-duration: 4s;
}

.buttons-flex:hover {
    box-shadow: rgba(0, 0, 0, 0.8) 0px 4px 11px;
    background: #FF2D71;
    cursor: pointer;
    /* background-color:red; left:0px; top:0px; */
    /* transform: background-color: #FF2D71 translateX(-8px); */
}



/* Mobile */
@media (min-width: 1000px) {
    /* Flex box */
    /* Desktop */

    .services {
        font-size: 1.6rem;
        font-weight: 700;
        font-family: Montserrat;
        display: initial;
    }

    .container-about {
        display: inline-block;
        margin-top: 10rem;
    }

    h1 {
        text-align: center;
    }

    h2 {
        margin-bottom: 1rem;
    }


    section div  {
        display: block;
        background: #24204e  !important; 
        margin-left: 0;
        border: 0px;
        color: rgb(255, 255, 255) !important;
    }

    span {    
        margin-top: 1rem;
        margin-left: 0;
        font-size: 1.6rem;
        font-weight: 700;
        font-family: Montserrat;
        border: 0px;
        color: rgb(255, 255, 255) !important;
    }

    /* CSS FLEX BOX 1 */

    .flex {
        display: flex;
        -webkit-box-align: center;
        -webkit-box-pack: justify;
        justify-content: center;
        flex-wrap: wrap;
        max-width: 100%;
        margin: 0 auto;
        overflow: hidden;
        color: white;
        margin-bottom: 1rem;
        max-height: 700px;
    }

    .flex > div {
        flex: 1 1 100%;
        margin: 1rem;
        padding: 2rem;
        border-radius: 8px;
        word-wrap: break-word; /* para o texto não sair da DIV */
        width: 100%;
        min-height: 5rem;
        max-width: 900px;
    }

    button {
        display: flex;
    }

    .span-flex {
        display: flex;
        justify-content: left;
        width: 300px;
    }

    .span-flex a {
        margin: 10px;
    }

    .span-flex p {
        background: #000000 !important;
        border-radius: .8rem;
        font-size: 1.6rem;
        font-weight: 700;
        width: 200px;
        height: 4.0rem;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .buttons-flex {
        width: 100px;
        height: 4.0rem;
        background: rgb(226, 7, 80);
        border-radius: .8rem;
        margin-left: 0;
        font-size: 1.6rem;
        font-weight: 700;
        font-family: Montserrat;
        border: 0px;
        color: rgb(255, 255, 255) !important;
        text-decoration: none !important;  
        display: flex;
        align-items: center;
        justify-content: center;  
        transition: all 0.2s ease-in 0s;
        animation-duration: 4s;
    }

    .buttons-flex:hover {
        box-shadow: rgba(0, 0, 0, 0.8) 0px 4px 11px;
        background: #FF2D71;
        cursor: pointer;
        /* background-color:red; left:0px; top:0px; */
        /* transform: background-color: #FF2D71 translateX(-8px); */
    }
}


