/* GLOBAL ==================== */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: 0;
}

body {
    font-family:'Poppins', sans-serif;
    background: var(--new-color-background);
    color: #fff;    
    /* o problema era que o background estava com (5.11%, rgb(13, 12, 21) 94.89%); */
}

.container {
    width: min(90vw, 1000px); /* qual e menor entre os dois e vai deixar um deles. */
    margin: auto;
    word-wrap: break-word;
}

/* DESKTOP */
@media (min-width: 800px) {
  
    #balance {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 2rem;
    }

    .contact-button {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 0;
        padding: 5px;
        border-radius: 5px;
        font-size: 1rem;
        width: 100%;
    }

} 

/* HEADER ==================== */

#title /* O QUE POSSO FAZER POR VOCE? */{
    padding: 0 0 1rem;
    margin-top: -1rem;
    text-align: center;
    font-weight: 700;
    font-size: 2rem; 
    background: var(--h1-text-background);
}

h2 {
    margin-bottom: 10px;
    line-height: 26px;
}

/* Cards ==================== */

.card {
    background: var(--new-card-background);
    padding: 1rem 2rem;
    border-radius: 0.8rem;
    margin-bottom: 1rem;
    text-align: center;
    font-size: 1rem;
}

.card.why {
    background:green;
    margin-bottom: 0.5rem;      
}

/* PREÇO E HORA ============= */
.card p {
    margin-bottom: 1rem;
    width: 100%;
    font-weight: 400 !important;
}

.card.why p {
    margin-bottom: 0;   
}

.card .price {
    border-radius: 0.8rem;
    color: #fd951f;
    font-weight: 700;
    margin-right: 10px;
}

.card .contact-button {
    color: #fff;
    padding: 8px;
    border-radius: 5px;
    font-size: 16px;
    text-decoration: none;
    background: rgb(255, 6, 87);
    color: rgb(255, 255, 255) !important;
    text-decoration: none !important;    
    transition: all 0.2s ease-in 0s;
    animation-duration: 4s;
    margin: 1rem 0 ;
}

.card .contact-button:hover {
    box-shadow: rgba(0, 0, 0, 0.8) 0px 4px 11px;
    background: #FF2D71;
    cursor: pointer;
}

/* FOOTER ==================== */

footer {
    text-align: center;
}

/* AQUI VAI SER PARA QUANDO ESTIVER NO TABLET */

@media (max-height: 700px) {
    #title /* O QUE POSSO FAZER POR VOCE? */{
        padding: .9rem 0 1rem;
    }

    .card {
        font-size: .9rem;
    }
}

/* RESPOSIVIDADE */

@media (max-width: 768px) {
    #title {
        padding: 4rem 0 1rem;
        font-size: 2rem; 
    }

    h2 {
        margin-bottom: 10px;
        line-height: 24px;
    }

    .card {
        font-size: 0.8rem;
        text-align: left;  
        line-height: 20px; 
    }

    .whyp {
        display: flex;
        justify-content: center;
        align-items: center;
    } 

    .card.why p {
        margin-bottom: 0;  
        
    }

    .card .price {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 1rem;
    }

    .contact-button {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 0;
        padding: 5px;
        border-radius: 5px;
        font-size: 1rem;
        width: 100%;
    }
}